@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}

#container {
  width: 23em;
  max-width: 100%;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

#drawers > img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

#description {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin: 1.25em 0.625em;
  padding: 0 1.25em;
}

#info > p {
  margin: 1.25em 0.625em;
  padding: 0 1.25em;
}

#michelle {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-right: 0.625em;
}

#author {
  display: flex;
  align-items: center;
  padding: 0 1.25em 1em;
  position: relative; /* Needed for absolute positioning of #socials */
}

#author-info > p {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 0.25em;
}

time {
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}

#share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-left: auto;
  border: none;
  margin-top: 0.75em;
  z-index: 2;
  position: relative;
}

#share {
  position: relative;
  z-index: 2;
  color: hsl(214, 17%, 51%);
}

#share-button:hover {
  cursor: pointer;
  background-color: hsl(214, 17%, 51%);
}

#share-button:hover #share {
  cursor: pointer;
  filter: brightness(0) invert(1);
}

#share.active {
  cursor: pointer;
}

#share-button:active {
  cursor: pointer;
  background-color: hsl(214, 17%, 51%);
}

#socials {
  background-color: hsl(217, 19%, 35%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding-left: 1.75em;
  text-transform: uppercase;
  color: hsl(214, 17%, 51%);
  letter-spacing: 6px;
  font-weight: 500;
  display: none;
}

#socials.show {
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1.75em;
}

#socials > a {
  text-decoration: none;
  margin-right: 0.05em;
  margin-left: 1.25em;
}
